<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
	<div id="navbarBasicExample" class="navbar-menu">
	  <div class="navbar-start">
		<% if can? :read, User %>
          <%= link_to('Usuarios', users_path, class:'btn btn-dark') %>
      	<% end %>
	    <%= link_to('Libros', books_path, class:'btn btn-dark') %>
	    <%= link_to('Préstamos', loans_path, class:'btn btn-dark') %>
	    <%= link_to('Cerrar Sesión', logout_path, class:'btn btn-outline-secondary') %>
	  </div>
	  
	</div>
</nav>

