<p id="notice"><%= notice %></p>

<%= form_for(:session, url: login_path) do |f| %>
  <%= f.email_field :email, :placeholder => 'Email', required: true %>
  <%= f.password_field :password, :placeholder => 'Password', required: true %>
  <%= f.submit "Ingresar"%>
<% end %>

<br>