
<!------------------------------- FORMULARIO DE USUARIOS ---------------------------------------->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card mt-5">
        <% if @user.new_record? %>
          <div class="card-header font-weight-bold">Agregar Usuario</div>
        <% else %>
          <div class="card-header font-weight-bold">Editar Usuario</div>
        <% end %>
        
          <%= form_for @user do |f| %>
            <div class="card-body">
               <div class="form-group">
                <%= f.label :Apellido %>
                <%= f.text_field :last_name, class: "form-control", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :Nombre %>
                <%= f.text_field :first_name, class: "form-control", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :DNI %>
                <%= f.number_field :dni, class: "form-control" %>
              </div>
              
              <div class="form-group">
                <%= f.label :Email %>
                <%= f.email_field :email, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :Teléfono %>
                <%= f.phone_field :telephone, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.label :Tipo_de_usuario %>
               
                <%= f.select(:role, options_for_select(([[ 'Alumno', 'Alumno'] , [ 'Docente','Docente'] , [ 'Preceptor', 'Preceptor']]), @user.role))%>
              </div>
              <div class="form-group">
                <%= f.label :Contraseña%>
                <%= f.password_field :password, class: "form-control", autofocus: true %>
              </div>
              <div class="form-group">
                <%= f.label :Confirmar_Contraseña%>
                <%= f.password_field :password_confirmation, class: "form-control", autofocus: true %>
              </div>
            </div>

            <div class="card-footer text-right">
              <%= link_to "Cancelar", users_path, class: "btn btn-outline-dark" %>
              <% if @user.new_record? %>
                <%= f.submit "Crear usuario" , class: "btn btn-success" %>
                <% else %>
                <%= f.submit "Guardar cambios" , class: "btn btn-secondary" %>
              <% end %>
            </div>

          <% end %>

      </div>
    </div>
  </div>
