<%= render "navegacion/navbar"%>


<div class="books-page">
  <div class="container">
      <div class="text-right"><%= link_to "Agregar Usuario", new_user_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
   
    <h3> USUARIOS </h3>

    <%= form_tag(users_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Buscar Usuario" %>
      <%= submit_tag "Buscar" %>
    <% end %>



    <% @users.each do |user| %>
    <div class="book card flex-sm-row align-items-center align-items-sm-start mt-5">
        <div class="card-body">
          <h4 class="card-title"> <strong> <%= user.last_name %> <%= user.first_name %> </strong></h4>
          <p class="card-text">Contacto: <%= user.email%> | <%= user.telephone%> </p>
          <h5><strong><%= user.role %></strong></h5>
          <h6>N° de Usuario: <%= user.id %></h6>

          <%= link_to "Detalles", user, class: "btn btn-info" %>

          <% if can? :edit, user %>
           <%= link_to "Editar", edit_user_path(user), class: "btn btn-secondary" %>
          <% end %>
          <% if can? :edit, user %>
            <%= link_to "Eliminar", user, class: "btn btn-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este usuario?" } %>
          <% end %>

        </div>
    </div>
    <% end %>
  </div>
</div>



