<nav class="navbar is-primary" role="navigation" aria-label="main navigation">

  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to('Home', welcome_index_path, class:'nav-link sr-only') %>
      </li>
      <li class="nav-item">
        <%= link_to('Libros', books_path, class:'nav-link sr-only') %>
      </li>
      <li class="nav-item">
        <%= link_to('Préstamos', loans_path, class:'nav-link sr-only') %>
      </li>
      <li>
        <%= link_to('Salir', welcome_index_path, class:'btn btn-secondary') %>
      </li>
    </ul>
  </div>
</nav>