<%= render "navegacion/navbar"%>

<!------------------------------- VISTA DE LIBROS ---------------------------------------->

<div class="books-page">
  <div class="container">
    <% if can? :create, Book %>
      <div class="text-right"><%= link_to "Agregar Libro", new_book_path, class: "btn btn-outline-primary rounded-0" %>
      </div>
    <% end %>
    <br></br>
    <h3> LIBROS </h3>

    <%= form_tag(books_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Buscar" %>
      <%= submit_tag "Buscar" %>
    <% end %>


    <% @books.each do |book| %>
    <div class="book card flex-sm-row align-items-center align-items-sm-start mt-5">
        <div class="card-body">
          <h5 class="card-title"> <strong><%= book.name %></strong> </h5>
          <h5><%= book.author %> </h5>
          <p class="card-text"> <%= book.available%></p>
          <%= link_to "Detalles", book, class: "btn btn-info" %>
          <% if can? :edit, book %>
            <%= link_to "Editar", edit_book_path(book), class: "btn btn-secondary" %>
          <% end %>
           <% if can? :delete, book %>
          <%= link_to "Eliminar", book, class: "btn btn-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este libro?" } %>
          <% end %>
        </div>
    </div>
    <% end %>
  </div>
</div>

