
<!------------------------------- FORMULARIO DE PRÉSTAMOS ---------------------------------------->

<div class="container">
  <div class="row justify-content-center">
    <div class="col-sm-6">
      <div class="card mt-5">
        <% if @loan.new_record? %>
          <div class="card-header font-weight-bold">Agregar Préstamo</div>
        <% else %>
          <div class="card-header font-weight-bold">Editar Préstamo</div>
        <% end %>

          <%= form_for @loan do |f| %>
            <div class="card-body">
               <div class="form-group">
                <%= f.label :Usuario %>
                <%= f.select(:user_id, options_for_select(([nil]+User.all.pluck(:last_name, :id)), @loan.user_id))%>
              </div>
              <div class="form-group">
                <%= f.label :Libro %>
                <%= f.select(:book_id, options_for_select(([nil]+Book.all.pluck(:name, :id)), @loan.book_id))%>
              </div>
              <div class="form-group">
                <%= f.label :Desde %>
                <%= f.date_field :initiation_date, class: "form-control" %>
              </div>
              
              <div class="form-group">
                <%= f.label :Hasta %>
                <%= f.date_field :final_date, class: "form-control" %>
              </div>


              <% unless @loan.new_record? %>
               <div class="form-group">
                <%= f.label :Estado %><br>
                <%= f.select(:state, options_for_select(([[ 'Activo', 'actived'] , [ 'Expirado','expired'] , [ 'Finalizado', 'finished']]), @loan.state))%>
                </div>
              <% end %>

            </div>
            <div class="card-footer text-right">
              <%= link_to "Cancelar", loans_path, class: "btn btn-outline-dark" %>
              <% if @loan.new_record? %>
                <%= f.submit "Crear préstamo" , class: "btn btn-success" %>
              <% else %>
                <%= f.submit "Guardar cambios" , class: "btn btn-secondary" %>
              <% end %>
            </div>
          <% end %>
      </div>
    </div>
  </div>

