<%= render "navegacion/navbar"%>

<!------------------------------- VISTA DE PRÉSTAMOS ---------------------------------------->

<div class="books-page">
  <div class="container">
    <% if can? :create, Loan %> <!-- Permiso -->
      <div class="text-right"><%= link_to "Nuevo Préstamo", new_loan_path, class: "btn btn-outline-primary rounded-0" %><!-- Botón nuevo préstamo -->
      </div>
    <% end %>
    <br></br>
    <h3> PRÉSTAMOS </h3>

<!--BUSCADOR -->
    <%= form_tag(loans_path, :method => "get", id: "search-form") do %>
      <%= text_field_tag :search, params[:search], placeholder: "Buscar Préstamos" %>
      <%= submit_tag "Buscar" %>
    <% end %>
<!--/BUSCADOR -->


<!--LISTADO DE PRÉSTAMOS -->   
    <% @loans.each do |loan| %>
  <% if can? :read, loan %> <!-- Permiso --> 
      <div class="book card flex-sm-row align-items-center align-items-sm-start mt-5">
          
          <div class="card-body">
            
            <h4 class="card-title">

            

              Préstamo ID #<strong><%= loan.id %></strong> Estado: <strong><%= loan.estado %></strong>
              <h5><strong><%= loan.book.name %></strong></h5>
              <h6> Retirado por: <strong><%= loan.user.last_name %> <%= loan.user.first_name %></strong> Usuario #<%= loan.user_id %></h6>
            </h4>
            <p class="card-text"> Vencimiento: <strong><%= loan.final_date %></strong></p>

            <%= link_to "Detalles", loan, class: "btn btn-info" %>

            

            <% if can? :edit, loan %> <!-- /Permiso -->
              <%= link_to "Editar", edit_loan_path(loan), class: "btn btn-secondary" %> 
            <% end %>

            <% if can? :delete, loan %> <!-- /Permiso -->
            <%= link_to "Eliminar", loan, class: "btn btn-danger", method: :delete, data: { confirm: "¿Estás seguro de eliminar este préstamo?" } %>
            <% end %>
          
          </div>
        
      </div>
  <% end %>
    <% end %>
<!-- /LISTADO DE PRÉSTAMOS -->
  </div>
</div>







