// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

books-page {
  .book {
    border:none;

    .card-title small {
      display: block;
      color: #999;
      margin-top: 5px;
    }

    img {
      padding: 10px;
      @include media-breakpoint-down(xs) { max-height: 250px; }
      @include media-breakpoint-up(sm) { width: 160px; }
    }
  }
}

.book-page {
  margin-top: 30px;

  header.main {
    margin: 30px 0 30px;

    .author {
      font-size: 1.2rem;
      color: #999;
      margin-top: -3px;
    }
  }

  .book {
    border: none;

    .book-details { padding: 0 20px 0 40px; }
  }
}